::ng-deep nb-layout-column {
  padding: 0 !important;
}

ion-header {
  ion-title {
    font-size: 10px;
  }
}

ion-content {
  position: absolute;
  --background: #121c3b;
}

ion-card {
  font-size: 15px;
  --background: transparent;
  --ion-background-color: transparent;
  box-shadow: none;
  text-align: center;
  ion-card-header {
    ion-card-subtitle {
      font-size: 14px;
      color: #fff;
    }

    ion-card-title {
      font-size: 13px;
      color: #fff;
    }
  }
  ion-card-content {
    color: #fff;
  }
}

ion-row {
  direction: rtl;
}

.col-chip {
  display: flex;
  justify-content: start;
  align-items: center;
}

ion-chip {
  ion-label {
    font-size: 10px;
  }
}
.content {
  position: absolute;
  top: 6rem;
  width: 100%;
}

.dark-bg {
  background: #040b23;
  z-index: 10;
  color: #fff;
  direction: rtl;
  line-height: 39px;
}
.relative {
  position: relative;
  height: 50vh;
  background: black;
  overflow: hidden;
  #img {
    width: 100%;
    object-fit: cover;
    opacity: 0.3;
    height: 100%;
    filter: blur(10px);
    will-change: transform;
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  .box-image {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    will-change: transform;
    box-shadow: inset 0 0 0 50vw rgba(255, 255, 255, 0.2);
  }
}

.status {
  top: 8rem;
  left: 2rem;
}
.color-white {
  color: white !important;
}
::ng-deep p {
  color: white !important;
}
.inv-title-1 {
  font-weight: 500;
  font-size: 16px;
}
.inv-title-1 {
  color: var(--red) !important;
  margin-bottom: 5px;
}
div.header-bac {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  filter: blur(10px);
  /* makup ? */
  box-shadow: inset 0 0 0 50vw rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  will-change: transform;
  background-size: cover;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.success {
  animation: glow 1.5s infinite;
}
.danger {
  animation: gloww 1.5s infinite;
}
ion-modal {
  --height: auto;
}
.bg-color {
  background-color: #030319 !important;
  color: #fff !important;
}

.word-selected {
  color: #fff !important;
  font-weight: 800;
}
// .fix-bottom{
//   position: fixed !important;
//   bottom: 0 !important;
//   height: 10rem;
//   inset: inherits !important;
// }
@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.4), 0 0 10px rgba(40, 167, 69, 0.4),
      0 0 20px rgba(40, 167, 69, 0.4), 0 0 30px rgba(40, 167, 69, 0.4);
  }
  50% {
    box-shadow: 0 0 10px rgba(40, 167, 69, 0.6), 0 0 20px rgba(40, 167, 69, 0.6),
      0 0 30px rgba(40, 167, 69, 0.6), 0 0 40px rgba(40, 167, 69, 0.6);
  }
  100% {
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.4), 0 0 10px rgba(40, 167, 69, 0.4),
      0 0 20px rgba(40, 167, 69, 0.4), 0 0 30px rgba(40, 167, 69, 0.4);
  }
}
//
@keyframes gloww {
  0% {
    box-shadow: 0 0 5px rgba(220, 53, 69, 0.4), 0 0 10px rgba(220, 53, 69, 0.4),
      0 0 20px rgba(220, 53, 69, 0.4), 0 0 30px rgba(220, 53, 69, 0.4);
  }
  50% {
    box-shadow: 0 0 10px rgba(220, 53, 69, 0.6), 0 0 20px rgba(220, 53, 69, 0.6),
      0 0 30px rgba(220, 53, 69, 0.6), 0 0 40px rgba(220, 53, 69, 0.6);
  }
  100% {
    box-shadow: 0 0 5px rgba(220, 53, 69, 0.4), 0 0 10px rgba(220, 53, 69, 0.4),
      0 0 20px rgba(220, 53, 69, 0.4), 0 0 30px rgba(220, 53, 69, 0.4);
  }
}
