.example-container {
  display: flex;
  flex-direction: column;
  min-width: 230px;
}
.bg-table {
  background: #fff !important;
  mat-cell,
  mat-header-cell {
    color: 040b23;
  }
}
ion-card {
  background: #fff !important;
}
.border-bottom {
  border-bottom: 1px dashed #040b23 !important;
}
mat-footer-cell {
  color: var(--red) !important;
}
.inv-title-1 {
  font-weight: 500;
  font-size: 16px;
}
.inv-title-1 {
  color: var(--red) !important;
  margin-bottom: 5px;
}
.ion-footer {
  display: none;
}
@media screen and (max-width: 960px) {
  .ion-footer {
    display: block;
  }
  .mat-mdc-table {
    border: 0 !important;
    vertical-align: middle !important;
  }

  .mat-mdc-table caption {
    font-size: 1em !important;
  }

  /*  Enable this to hide header
   
    */
  .mat-mdc-table .mat-mdc-header-row,
  .mat-mdc-table .mat-mdc-footer-row {
    border: 5px solid var(--red) !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
  }
  .mat-mdc-table .mat-mdc-row {
    border-radius: 13px;
    border: 2px solid var(--red) !important;
    margin-bottom: 10px;
    display: block !important;
  }
  /*
    .mat-mdc-table .mat-mdc-row:nth-child(even) {background: #CCC}
    .mat-mdc-table .mat-mdc-row:nth-child(odd) {background: #FFF}
    */
  .mat-mdc-table .mat-mdc-cell {
    padding-left: 25px;
    border-bottom: 1px solid #ddd !important;
    display: block !important;
    font-size: 1em !important;
    text-align: left !important;
    font-weight: bold !important;
    height: 30px !important;
    margin-bottom: 4% !important;
  }
  .mat-mdc-table .mat-mdc-cell:before {
    /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
    content: attr(data-label) !important;
    float: right !important;
    text-transform: uppercase !important;
    font-weight: normal !important;

    font-size: 0.85em !important;
  }
  .mat-mdc-table .mat-mdc-cell:last-child {
    border-bottom: 0 !important;
  }
  .mat-mdc-table .mat-mdc-cell:first-child {
    margin-top: 4% !important;
  }

  //footer
  .mat-mdc-table .mat-mdc-footer-cell {
    border: 5px solid var(--red) !important;
    margin-bottom: 10px;
    display: block !important;
  }
  .mat-mdc-table .mat-mdc-footer-cell {
    padding-left: 25px;
    border-bottom: 1px solid #ddd !important;
    display: block !important;
    font-size: 1em !important;
    text-align: left !important;
    font-weight: bold !important;
    height: 30px !important;
    margin-bottom: 4% !important;
  }
  .mat-mdc-table .mat-mdc-footer-cell:before {
    content: attr(data-label) !important;
    float: right !important;
    text-transform: uppercase !important;
    font-weight: normal !important;

    font-size: 0.85em !important;
  }
  .mat-mdc-table .mat-mdc-footer-cell:last-child {
    border-bottom: 0 !important;
  }
  .mat-mdc-table .mat-mdc-footer-cell:first-child {
    margin-top: 4% !important;
  }
}
